.left-side {
  background-color: #ffc107;
  width: 30%;
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 0 auto 1em auto;
  padding: 2em 0em 1em 0em;
}

.title-left {
  font-size: 25px;
  background-color: black;
  color: #ffc107;
  text-align: center;
}

.contact {
  height: 30%;
  margin-bottom: 2em;
}

.about {
  height: 40%;
  margin:2em 0 2em 0;
}

p {
  color: black;
  font-size: 15px;
  margin-top: -0.5em;
  margin-right: 3em;
  margin-left: 3em;
  text-align: justify;
}

.hobbies {
  height: 10%;
  margin: 10.5em 0 2em 0;
}

.hobby-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 10px;
}

.hobby-icon {
  background: none;
  border: 2px solid black;
  border-radius: 50%;
  color: black;
  display: flex;
  flex-direction: row;
  font-size: 1.42857rem;
  height: 1.42857rem;
  padding: 10px;
  width: 1.42857rem;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  margin: 2em 1.5em 1em 2em;
  }

.right-side {
  background-color: white;
  width: 70%;
}

h1 {
  font-size: 60px;
  font-style: oblique;
  color: black;
  margin: 1em 0em 0em 0.8em; 
}

h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0em 0em 4em 2.5em;
  
}

hr {
  background-color: #ffc107;
  height: 1px;
  border: 0px;
  margin:0.5em 2em 2em 2em;
 
}

.yellow-text {
  color: #ffc107;
}

.line {
  text-decoration: underline;
  text-decoration-color: #ffc107;
}

.first-item {
  list-style-type: "\29BF";
}

.title-right {
  font-size: 25px;
  font-weight: bold;
  font-family: serif;
  text-align: left;
  margin: -0.8em 0em 0em 3em;
}

.info {
  text-align: left;
  margin-left: 11em;
  margin-top: -3.2em;
  font-weight: bold;
  font-size: 18px;
}

.date {
  margin-top: -1em;
}

.content-border {
  width: 50%;
  text-align: left;
}

.Resume-icon {
  font-size: 36px;
  margin-left: 1em;
  color: #ffc107;
}

ul li {
  color: #ffc107;
  margin-left: 1em;
  list-style: "\2022";
}

.resume-p {
  text-align: justify;
  margin-left: 14.3em;
  margin-bottom: 2em;
  font-size: 14px;
}

@media all and (max-width: 550px) {
  .flex-container {
    flex-direction: column;
  }
  .left-style {
    width: 100%;
  }
  .right-style {
    width: 100%;
  }
  
}